name: PR Sanity Check

on: push

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Packages
        run: |
          npm install
      - name: Lint check
        run: |
          npm run lint
      - name: Type check
        run: |
          npm run types
      - name: Test check
        run: |
          npm run test
      - name: Loki check
        run: |
          npm run storybook
          npm run loki
